<%= render 'layouts/breadcrumb' %>

<h1><%= @page.title %></h1>

<%= render 'layouts/child_pages_navigation', :url => @page.url %>

<p>
	This post describes how to setup Ruby on Rails on Windows to start developing a Rails application for the first time.
</p>

<p>
  I attempted initially to setup Rails with XAMPP or Apache, but they did not seem to work well together.<br />
	The following shows how to setup the Rails development environment (on Windows) using Rails' built-in WEBrick web server.
</p>

<ol type="1" class="expanded">
	<li>
	  Download RubyInstaller from <a target="_blank" href="http://rubyinstaller.org/downloads">http://rubyinstaller.org/downloads</a>.
  </li>

  <li>
    Install Ruby using the installer. You can install Ruby on any directory (the following uses <span class="code"><i>C:\ruby</i></span>). 
  </li>

  <li>
	  <div class="code"><code>cd <i>C:\ruby</i>\bin</code></div>
	  <div class="code-description">
	    (Go to the Ruby's <span class="code">bin</span> folder)
    </div>
  </li>

  <li>
    <div class="code"><code>gem update</code></div>
    
    <p>When you get the following error:</p>
    
    <div class="code-block"><code><%= render 'pages/partials/ruby_on_raills_gem_update_error' %></code></div>
    
    <ol type="1">
      <li>
        Install DevKit:
        
        <ol type="1">
          <li>
            Download DevKit from <a target="_blank" href="http://rubyinstaller.org/downloads">http://rubyinstaller.org/downloads</a>.
          </li>
          
          <li>
            Extract to a folder (the following uses <span class="code"><i>C:\ruby-devkit</i></span>).
          </li>
          
          <li>
            <div class="code"><code>cd <i>C:\ruby-devkit</i></code></div>
            <div class="code-description">
              (Go to the DevKit folder)
            </div>
          </li>
          
          <li>
            <div class="code"><code>ruby dk.rb init</code></div>
          </li>
        
          <li>
            Check if <span class="code">config.yml</span> has the right Ruby installed path.
          </li>
        
          <li>
            <div class="code"><code>ruby dk.rb review</code></div> 
            <div class="code-description">
              (This is optional)
            </div>
          </li>
        
          <li>
            <div class="code"><code>ruby dk.rb install</code></div>
          </li>
        </ol>
      </li>
      
      <li>
        Run again.
      </li>
    </ol>
  </li>

  <li>
	  <div class="code"><code>gem install rails --include-dependencies</code></div>
	  
	  <p>When you get the following error:</p>
	  
	  <div class="code-block"><code><%= render 'pages/partials/ruby_on_raills_gem_install_rails_error' %></code></div>
		
    <ol type="1">
      <li>
			  <div class="code"><code>set RDOCOPT="--encoding=UTF-8"</code></div>
			  <div class="code-description">
          (See <a target="_blank" href="http://tinkeringruby.blogspot.com/2012/01/heroku-installation.html">http://tinkeringruby.blogspot.com/2012/01/heroku-installation.html</a>)
        </div>
			</li>
      <li>
        Run again.
      </li>
    </ol>
  </li>

  <li>
	  <div class="code"><code>cd <i>new-app-path</i></code></div>
	  <div class="code-description">
      (Go to a folder for a new Rails application)
    </div>
	</li>
	
  <li>
	  <div class="code"><code>rails new <i>new-app-name</i></code></div>
    <div class="code-description">
      Creates a new Rails application.
    </div> 
		
	  <p>When you get SSL error, like the following:</p>
		
	  <div class="code-block"><code><%= render 'pages/partials/ruby_on_raills_rails_new_ssl_error' %></code></div>
	  
    <ol type="1">
      <li>
		  	Create <span class="code">gemrc</span> file at the home path, with the following line:<br />
		  	<span class="code">:ssl_verify_mode: 0</span><br />
		  	(See <a target="_blank" href="http://stackoverflow.com/questions/10246023/bundle-install-fails-with-ssl-certificate-verification-error">http://stackoverflow.com/questions/10246023/bundle-install-fails-with-ssl-certificate-verification-error</a>)
      </li>
    </ol>
  </li>
	
  <li>
	  <div class="code"><code>cd <i>new-app-name</i></code></div>
	  <div class="code-description">
	    (Go inside the new Rails application folder)
    </div>
	</li>
	
  <li>
    <div class="code"><code>rails server</code></div>
    <div class="code-description">
      Runs the Rails server locally.<br />
      (Need to run from the application's root folder)
    </div>
  </li>
  
  <li>
	  Test to see the new Rails application at <span class="code">http://localhost:3000</span> (from an internet browser).
	</li>
</ol>


<h2>Resource:</h2>

<ul>
  <li>
    <a target="_blank" href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Ruby on Rails Tutorial (Book) by Michael Hartl</a>
  </li>
</ul>
